body{

    font-family: "Quicksand", sans-serif;
    background-color:#221d43;
    font-weight: bold;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    box-sizing: border-box;
   

}

header{
    background-color:#636289;
    padding: 1em;
    display: flex;
    justify-content: flex-end;

}

.search{
    background-color:transparent;
    border-radius: 50px;
    border: 2px solid #221d43;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    color:aliceblue;
    font-family:inherit;
    
}

.search:focus{
    outline: none;
    background-color: #221d4396;
    
}

.search::placeholder{
    color:#221d43; 

}


.movie{
  width: 250px;
  background-color:#6362896a;
  color:black;
  margin: 1em;
  box-shadow:  2px 2px 3px rgb(27, 27, 27);
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 3rem;
}

.movie img{
    width: 100%;
    height: 165px;
    
}

.movie-title{
    color: white;
    display: flex;
    align-items: center;
    justify-content:space-between;
    letter-spacing: 0.1em; 
    padding: 0.3rem 0.3rem;
}

.movie-title h3{
    margin-top: 0;

}

.movie-title span{
   background-color:#221d43;
   padding: 0.1rem 0.2rem;
   border-radius:5px;
   font-weight: bold;
}


.movie-title span.grade{
    color:greenyellow;

}

.movie-title span.grade{
   color: orange;
}

.movie-title span.grade{
    color:red;
}

.overview{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    background:white;
    opacity:0.9;
    padding: 0.3rem 0.3rem;
    transform: translateY(100%);
    transition: transform 0.3s ease-in;
}

.movie:hover .overview{
    transform:translateY(0);
}
